.logo{
    font-family: "Pacifico", cursive;
}
.hero-main, .footer-main{
    background: #00373e;
}
.hero-head{
    font-family: "Protest Strike", sans-serif;
}
.work-head{
    font-family: "Montserrat", sans-serif;
}
.why-head{
    font-family: "Montserrat", sans-serif;
}
.questions-head{
    font-family: "Montserrat", sans-serif;
}
.foot > ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.foot > li{
    cursor: pointer;
}