.logo{
    font-family: "Pacifico", cursive;
}
.hero-main{
    background: #00373e;
}
.hero-head{
    font-family: "Protest Strike", sans-serif;
}
.work-head{
    font-family: "Montserrat", sans-serif;
}
.why-head{
    font-family: "Montserrat", sans-serif;
}